.navbar {
  height: 50px;
  border-bottom: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  font-size: 14px;

  .wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;

      input {
        border: none;
        outline: none;
        background-color: transparent;

        &::placeholder {
          font-size: 12px;
        }
      }

      .icon {
        font-size: 18px;
        color: gray;
      }
    }

    .userProfile {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      .avatar {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
      }

      .username {
        font-weight: 500;
        font-size: 13px;
        color: #8d8d8d;
      }
    }
  }
}
